.loader-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.834);
  z-index: 1;
}

.fullscreen-loader {
  height: 100vh;
  position: fixed;
}
.small-loader {
  height: 50vh;
}

.spinner {
  width: 34px;
  height: 34px;
  border: 4px solid;
  border-color: #3d5af1 transparent #3d5af1 transparent;
  border-radius: 50%;
  animation: spin-anim 1.2s linear infinite;
  /* margin-bottom: 150px; */
}

@keyframes spin-anim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
