@import '../../tokens.scss';

.css-binzgt {
   margin-top: 0;
}

.logPage {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-color: var(--primaryTheme);
}

.logBox {
    color: var(--primaryFontTheme);
    padding: 20px;
    margin-top: 100px;

    &.css-binzgt {
        margin-top: -20vh;
    }

    button {
        background-color: $primaryColor;
        &:hover { background-color: $primaryColorHover; }
    }

    input {
        color: var(--primaryFontTheme);
    }
    
    label,
    label.Mui-focused {
        color: var(--secondaryFontTheme);
    }

    .Mui-focused {
        border-color: $primaryColor;
        fieldset {
            border-color: var(--primaryFontTheme);
        }
    }

    fieldset, input,
    .MuiInputBase-root:hover fieldset {
        border-color: var(--secondaryFontTheme);
    }

    .MuiSvgIcon-root {
        fill: var(--primaryFontTheme);
    }
    .Mui-checked .MuiSvgIcon-root {
        fill: $primaryColor;
    }
}