$primaryColor: #35afaf;
$primaryColorHover: scale-color($primaryColor, $lightness: -10%);
$secondaryColor: #f9543a;
$secondaryColorHover: scale-color($secondaryColor, $lightness: -10%);

 
 $primaryLight: #1f1f1f;
 $secondaryLight: #2d2d2d;
 
 $primaryDark:#f9f9f9;

 $secondaryDark:#c9c9c9;

 