$primaryColor: #35afaf;
$primaryColorHover: scale-color($primaryColor, $lightness: -10%);
$secondaryColor: #f9543a;
$secondaryColorHover: scale-color($secondaryColor, $lightness: -10%);

 
 $primaryLight: #f9f9f9;
 $secondaryLight: #c9c9c9;
 
 $primaryDark:#1f1f1f;
 $secondaryDark:#2d2d2d;

 